header {
    background-color: rgb(255, 250, 250);
    text-align: center;
    
}

#mainheader{
    font-style: italic;
}

body{
    border-left: 50px;
    text-align: center;
}
.profile{
    border-radius: 50%;
}

.icon{
    width: 50px;
    height: 50px;
}

aside{
    position: fixed;
    width: 50px;
    height: 250px;
    top: 0;
    left: 0;
    border: 1px solid #111;
}

table{
    border: black 20px;
}

#smallen-this-thang{
    height: 250px;
    width: (16*height/9)px;
}
